name: Release

on:
  push:
    branches:
      - 'main'

jobs:
  release-action:
    runs-on: ubuntu-latest
    name: quick-release action
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Release
        uses: ./
        with:
          token: ${{ secrets.AUTO_PAT }}
          replace-files: README.md
          git-user-email: 68967746+TRW-bot@users.noreply.github.com
          assignees: TheRealWaldo
